.side-bar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: rgb(255, 255, 255);
    width: 72px;
    z-index: 200;
    padding-top: 5px;
  }

  .sidebar-edit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    flex-direction: column;
  }

  .sidebar-edit:hover{
    background-color: rgb(237, 233, 233);
  }

  .sidebar-edit  img{
    height: 24px;
    
}

.sidebar-edit div {
    font-family: Roboto, Arial, sans-serif;
    font-size: 8px;
}

@media (max-width: 768px) {
  .side-bar {
    width: 0;
    display: none;
  }

  body {
    padding-left: 0;
  }
}
